body{
    background-color: rgb(24, 24, 24);
}

#tophome {
    color:white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 5%;
    margin-right: 5%;
}



@media (min-width: 300px){
    #carouselExampleIndicators{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
    }
}

@media (min-width: 570px){
    #carouselExampleIndicators{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
    }
}

@media (min-width: 768px){
    #carouselExampleIndicators{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
    }
}

@media (min-width: 992px){
    #carouselExampleIndicators{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px){
    #carouselExampleIndicators{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 100px;
    }
}




@media (min-width: 300px){
    #feed{
        margin-right: 10%;
        margin-left: 10%;
        color: white; margin-bottom: 20px;
    }
}

@media (min-width: 570px){
    #feed{
        margin-right: 10%;
        margin-left: 10%;
        color: white; margin-bottom: 20px;
    }
}

@media (min-width: 768px){
    #feed{
        margin-right: 10%;
        margin-left: 10%;
        color: white; margin-bottom: 20px;
    }
}

@media (min-width: 992px){
    #feed{
        margin-right: 20%;
        margin-left: 20%;
        color: white; margin-bottom: 20px;
    }
}

@media (min-width: 1200px){
    #feed{
        margin-right: 20%;
        margin-left: 20%;
        color: white; margin-bottom: 20px;
    }
}




@media (min-width: 300px){
    #uns{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
        margin-top: 25px;
        color: white;
    }
}

@media (min-width: 570px){
    #uns{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
        margin-top: 25px;
        color: white;
    }
}

@media (min-width: 768px){
    #uns{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 100px;
        margin-top: 25px;
        color: white;
    }
}

@media (min-width: 992px){
    #uns{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 100px;
        margin-top: 25px;
        color: white;
    }
}

@media (min-width: 1200px){
    #uns{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 100px;
        margin-top: 25px;
        color: white;
    }
}


@media (min-width: 300px){
    #interesse{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 570px){
    #interesse{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 768px){
    #interesse{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 992px){
    #interesse{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 1200px){
    #interesse{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}






@media (min-width: 300px){
    #tabelle{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 570px){
    #tabelle{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 768px){
    #tabelle{
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 992px){
    #tabelle{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}

@media (min-width: 1200px){
    #tabelle{
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30px;
        color: white;
        margin-top: 25px;
    }
}





@media (min-width: 300px){
    #thing{
        margin-right: 10%;
        margin-left: 10%;
        border-bottom: solid; padding-bottom: 100px; border-color: white;
    }
}

@media (min-width: 570px){
    #thing{
        margin-right: 10%;
        margin-left: 10%;
        border-bottom: solid; padding-bottom: 100px; border-color: white;
    }
}

@media (min-width: 768px){
    #thing{
        margin-right: 10%;
        margin-left: 10%;
        border-bottom: solid; padding-bottom: 100px; border-color: white;
    }
}

@media (min-width: 992px){
    #thing{
        margin-right: 20%;
        margin-left: 20%;
        border-bottom: solid; padding-bottom: 100px; border-color: white;
    }
}

@media (min-width: 1200px){
    #thing{
        margin-right: 20%;
        margin-left: 20%;
        border-bottom: solid; padding-bottom: 100px; border-color: white;
    }
}





#socialmedia{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-right: 10%;
    margin-left: 10%;
}


.footer{
    background-color: rgb(36, 36, 36);
    margin-top: 75px;
    text-align: center;
    padding: 40px;
}

.footer a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.footer a:hover{
    color:grey; 
    text-decoration: none;
}


td {
    padding-bottom: 10px;
    vertical-align: top;
  }







#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
 }
 
 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }
 #gallery img:hover {
    filter:none;
 }




 @media (min-width: 300px){
    #behaelter{
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 45%;
    }
}

@media (min-width: 570px){
    #behaelter{
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 45%;
    }
}

@media (min-width: 768px){
    #behaelter{
        padding-top: 45%;
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (min-width: 992px){
    #behaelter{
        padding-top: 33.75%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media (min-width: 1200px){
    #behaelter{
        padding-top: 33.75%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

#behaelter{
    position: relative;
}

#behaelter iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}




@media (min-width: 300px){
    #sp{
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (min-width: 570px){
    #sp{
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (min-width: 768px){
    #sp{
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (min-width: 992px){
    #sp{
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media (min-width: 1200px){
    #sp{
        margin-right: 20%;
        margin-left: 20%;
    }
}




@media (min-width: 300px){
    #up{
        margin-right: 10%;
        margin-left: 10%;
        text-align: center; color: white; margin-top: 70px; margin-bottom: 55px; border-top: solid; border-color: white; padding-top: 70px;
    }
}

@media (min-width: 570px){
    #up{
        margin-right: 10%;
        margin-left: 10%;
        text-align: center; color: white; margin-top: 70px; margin-bottom: 55px; border-top: solid; border-color: white; padding-top: 70px;
    }
}

@media (min-width: 768px){
    #up{
        margin-right: 10%;
        margin-left: 10%;
        text-align: center; color: white; margin-top: 70px; margin-bottom: 55px; border-top: solid; border-color: white; padding-top: 70px;
    }
}

@media (min-width: 992px){
    #up{
        margin-right: 20%;
        margin-left: 20%;
        text-align: center; color: white; margin-top: 70px; margin-bottom: 55px; border-top: solid; border-color: white; padding-top: 70px;
    }
}

@media (min-width: 1200px){
    #up{
        margin-right: 20%;
        margin-left: 20%;
        text-align: center; color: white; margin-top: 70px; margin-bottom: 55px; border-top: solid; border-color: white; padding-top: 70px;
    }
}









#tkctermine img{
    max-width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#tkctermine {
    text-align: center;
}

